body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
}

.slogan img {
    max-width: 100%;
    height: auto;
}

.title-nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

nav a:hover {
    color: #007bff;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .title-nav h1 {
        font-size: 1.5rem;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .title-nav h1 {
        font-size: 1.2rem;
    }

    nav ul {
        gap: 5px;
    }

    nav a {
        font-size: 0.9rem;
    }
}


h1 {
    margin: 0; 
    font-size: 24px; 
    color: #333; 
    text-align: center;
}

.slogan img {
    width: 100px; 
    height: auto; 
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Estilos para a seção de cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 280px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

/* Estilo da seção da galeria */
.gallery-section {
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-item {
    position: relative;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.gallery-item img {
    width: 80%;
    height: auto;
    max-height: 200px; /* Ajuste a altura máxima */
    object-fit: cover; /* Para manter a proporção da imagem */
    border-bottom: 1px solid #ddd;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.caption {
    padding: 10px;
    background-color: rgba(255, 252, 252, 0.966);
    color: rgb(77, 187, 95);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    border-radius: 0 0 10px 10px;
}

.caption h3 {
    margin: 0;
    font-size: 1.2em;
}

.caption p {
    margin: 5px 0 0;
}

/* Modal para visualização ampliada */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#modal-caption {
    text-align: center;
    color: white;
    padding: 10px 20px;
    height: 150px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
    .gallery-item {
        width: 100%;
        max-width: 500px;
    }
}


footer {
    background-color: #4CAF50; 
    color: white;
    padding: 20px;
    text-align: center;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-icons, .payment-icons {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}
.social-icons a, .payment-icons img {
    color: white;
    font-size: 24px;
}
.social-icons a:hover, .payment-icons img:hover {
    color: #ddd;
}
.payment-icons img {
    width: 35px;
    height: auto;
}
.footer-text {
    margin: 10px 0;
}


.contact-info, .contact-form, .newsletter-signup {
    margin: 20px 0;
}

.contact-info p {
    font-size: 16px;
    line-height: 1.5;
}

.contact-form label, .newsletter-signup label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input, .contact-form textarea, .newsletter-signup input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button, .newsletter-signup button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contact-form button:hover, .newsletter-signup button:hover {
    background-color: #45a049;
}

.newsletter-signup {
    margin-bottom: 60px; 
}

.icons {
    width: 100px; 
    height: auto; 
    
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: inline-block; 
}

.image-container {
    text-align: center; 
    padding: 20px; 
}

.welcome-section {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.welcome-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

#cookie-consent {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    z-index: 1000;
  }
  
  #accept-cookies {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
  }
  
.slogan {
    margin-right: 35px; 
}

/* Container personalizado */
.team-section {
    background-color: #f7f7f7; /* Fundo suave */
    padding: 50px 20px; /* Espaçamento interno */
}

.team-section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Fundo branco para o conteúdo */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Centraliza o texto */
}

.team-section h2 {
    font-family: 'Arial', sans-serif; 
    font-size: 2.5rem; 
    color: #333; 
    margin-bottom: 20px;
}

.team-section p {
    font-family: 'Georgia', serif; 
    font-size: 1.2rem; 
    color: #666; 
    line-height: 1.6; 
    margin-bottom: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    .team-section h2 {
        font-size: 2rem;
    }

    .team-section p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .team-section h2 {
        font-size: 1.5rem;
    }

    .team-section p {
        font-size: 0.9rem;
    }
}
